@bgblue: #06799F;
@yellow: #FFD673;
@black: #333;
@base-url: "/images";

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

body {
  background-color: @bgblue;
  color: @black;
}

#container {
  width: 960px;
  margin: auto;
}

.header {
  position: relative;
  color: white; 
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  padding: 35px;
}

.twitter-follow-button {
  position: absolute;
  top: 65px;
  left: 35px;
}

.footer {
  height: 100px;
  line-height: 100px;
  font-family: 'Open Sans', sans-serif;
}

.headline {
  font-size: 65px;
  font-weight: bold;
}

.footline {
  color: @yellow;
  font-size: 25px;
  font-style: italic;
}

.content {
  background-color: white;
  margin-bottom: 80px;
}

.twitter, .github {
  font-size: 26px; 
  line-height: 30px;
  font-family: 'Vollkorn', serif;
  padding: 15px;
  border-bottom: @yellow 1px dotted;
}

.item {
  position: relative;
}

.item:hover {
  cursor: pointer;
  background-color: lighten(@yellow, 20%);
}

.message {
  margin-right: 75px;
}

.message-content {
  margin-left: 48px;
}

.message-content .avatar {
  position: absolute;
  top: 6px;
  left: 8px;
}

.message-content .timestamp {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 15px;
}

.avatar {
  width: 48px;
  height: 48px;
}

a {
  text-decoration: none;
}

.commits {
  font-size: 15px;
}

.commits li {
  margin-top: 5px;
  padding: 5px 2px 0px 2px;
}
