<html>
  <head><title>Hey you!</title></head>
  <body>
  {{#each action.actions }}
    {{#if github }}
      <h1> {{actor}} {{type}} {{repo}} </h1>
    {{/if}}
    {{#if twitter }}
      <h1> {{message}} </h1>
    {{/if}}
  {{/each}}
  </body>
</html>
