<html>
  <head><title>Hey you!</title></head>
  <body>
  {{#each action.actions }}
    {{#if github }}
      <h1> this be github </h1>
    {{/if}}
    {{#if twitter }}
      <h1> this be twitter </h1>
    {{/if}}
  {{/each}}
  </body>
</html>
